{% extends "page.html.twig" %}

{% block content %}
    <form action='{{ formAction }}' onsubmit='{{ onSubmit }}'>
        {% block formControls %}
        {% endblock %}
        {% block buttons %}
            <div class='text-center'>
                <button type='submit' class='btn btn-primary btn-lg'>Submit</button>
                <button type='reset' class='btn btn-primary btn-lg'>Reset</button>
            </div>
        {% endblock %}
    </form>
{% endblock %}