{% extends "page.html.twig" %}

{% block pageHeader %}
    <header class='container page-header'>
        <h1 class='page-title {{textColor}}'>{{pageHeading}}</h1>
    </header>
{% endblock %}

{% block content %}
    <pre>{{dump(meta)}}</pre>
{% endblock %}